---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404: Not found" includeNavbar={false}>
    <div class="flex flex-col items-center max-w-[1280px] mx-auto pt-12">
        <h1 class="text-9xl font-bold p-5">🌴</h1>
        <h1 class="text-9xl font-bold p-5">404</h1>
        <!-- <h1 class="max-w-[900px] font-bold text-6xl text-center p-5">Página no encontrada</h1> -->
        <p class="max-w-[900px] p-5 text-xl">La página que buscas no existe. Por favor, verifica la URL e intenta nuevamente.</p>
        <a class="btn btn-accent" href="/">Volver al inicio</a>
    </div>
</MainLayout>