---
import MainLayout from "@/layouts/MainLayout.astro";
import NewsLayout from "@/layouts/NewsLayout.astro";
import Hero from "@/components/Hero.astro";
import LiveCard from "@/components/LiveCard.astro";
import NewsCard from "@/components/NewsCard.astro";

import api from "@/api.ts";

const news = await api.getRecentNews();
---

<MainLayout title="WOW TV EL SALVADOR">
  <Hero />
  <LiveCard />
  <NewsLayout title="Las noticias mas recientes">
    {
      news.map((item) => (
        <NewsCard
          image={item.attributes.hero_image.data.attributes.formats.medium.url}
          title={item.attributes.title}
          description={item.attributes.description}
          href={`/news/${item.attributes.slug}`}
        />
      ))
    }
  </NewsLayout>
  <div class="flex w-full justify-center pb-6 pt-1">
    <a class="btn btn-outline btn-primary" href="/news">Ver mas</a>
  </div>
</MainLayout>
