---
import MainLayout from "@/layouts/MainLayout.astro";
import NewsLayout from "@/layouts/NewsLayout.astro";
import Hero from "@/components/Hero.astro";
import LiveCard from "@/components/LiveCard.astro";
import FeaturedNews from "@/components/FeaturedNews";
---

<MainLayout title="WOW TV EL SALVADOR">
  <Hero />
  <LiveCard />
  <NewsLayout title="Las noticias mas recientes">
    <FeaturedNews client:load />
  </NewsLayout>
  <div class="flex w-full justify-center pb-6 pt-1">
    <a class="btn btn-outline btn-primary" href="/news">Ver mas</a>
  </div>
</MainLayout>
