---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="WOW TV EL SALVADOR">
	<main>
		<a href="/hola" class="btn">Hello daisyUI</a> 
	</main>
</Layout>
