---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Noticias">
    <div class="flex flex-col max-w-[1600px] mx-auto items-center p-24">
        <h1>Noticias</h1>
        <p>Coming soon...</p>
    </div>
</Layout>