---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Noticias">
  <div class="flex flex-col items-center w-full min-h-full p-24">
    <h1>Noticias</h1>
    <p>Coming soon...</p>
  </div>
</Layout>
