<div class="max-w-[1600px] mx-auto">
    <div
    class="hero h-[650px]"
    style="background-image: url(/chalchuapa.jpg);">
    <div class="hero-overlay bg-opacity-5 bg-gradient-to-r from-slate-900"></div>
    <div class="flex w-full">
        <div class="flex-start max-w-[530px] mx-12">
        <h1 class="mb-5 text-5xl font-bold">Tu Televisión Nacional</h1>
        <p class="mb-5">
            Tu canal de entretenimiento, noticias y cultura. Disfruta de la mejor programación en vivo, con contenido exclusivo para toda la familia.
        </p>
        <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
    </div>
</div>