<section class="flex flex-col mx-auto items-center max-w-[930px] p-4">
    <div class="flex items-center items-center mb-4">
      <h2 class="text-2xl">Mira nuestro canal en vivo<span class="badge badge-error text-white gap-2 ml-2">Live</span></h2>
      
    </div>
    <iframe class="w-full aspect-video rounded-xl" src="https://www.youtube.com/embed/AiuXApMOmBU" title="PUNTO NOTICIAS - EN VIVO - ESTELAR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>