---
import Live from "./Live";
---

<section class="max-w-[700px] mx-auto my-5">
  <div class="flex flex-col gap-5 text-center">
    <h2 class="text-2xl">
      Mira nuestro canal en vivo<span
        class="badge badge-error text-white gap-2 ml-2">Live</span
      >
    </h2>
      <Live client:load />
  </div>
</section>
