---
import Live from "./Live";
---

<!-- <section class="flex flex-col mx-auto items-center max-w-[930px] p-4">
  <div class="flex items-center items-center mb-4">
    <h2 class="text-2xl">
      Mira nuestro canal en vivo<span
        class="badge badge-error text-white gap-2 ml-2">Live</span
      >
    </h2>
  </div>
</section> -->
<section class="w-[80%] m-auto my-8">
  <div class="flex flex-col gap-4 text-center">
    <h2 class="text-2xl">
      Mira nuestro canal en vivo<span
        class="badge badge-error text-white gap-2 ml-2">Live</span
      >
    </h2>
    <Live client:load />
  </div>
</section>
