<div class="bg-base-100">
  <nav class="navbar bg-base-100 mx-auto max-w-[1280px] px-8">
    <div class="navbar-start md:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-5 w-64 p-2 shadow [&_a]:text-lg [&_li]:py-3"
        >
          <li><a href="/">Inicio</a></li>
          <li><a href="/news">Noticias</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center md:navbar-start">
      <a href="/">
        <img src="/wowtv-logo.png" class="h-14 w-auto" alt="Logo" />
      </a>
    </div>
    <div class="navbar-end flex gap-8">
      <a
        href="/"
        class="w-24 text-center btn btn-ghost btn-square max-md:hidden"
      >
        Inicio
      </a>
      <a
        href="/news"
        class="w-24 text-center btn btn-ghost btn-square max-md:hidden"
      >
        Noticias
      </a>
    </div>
  </nav>
</div>
